body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    color: lightblue;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: lightblue;
}

#banner{
  background-image: url("https://jtichon.github.io/css/header.JPG");
  background size: cover;
  height: 200px;
  width: cover;
}

#banner .header h1{
  border: 3px solid white;
  color: black;
  background-color: lightblue;
  opacity: 0.70;
  position: relative;
  top: 50px;
  width: 625px;
  padding: 5px;
  margin: 0 auto;
}
a {
    text-decoration: none;
    color: #267CB9;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.container{

  font-size: 1.25em;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
}



/* Front Page */


/* About Me */

.aboutmeleft{
  position: relative;
}

.aboutmeleft img{
  float: left;
  height: 200px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.aboutmeright{
  position: relative;
}
.aboutmeright img{
  float: right;
  height: 200px;
  padding-left: 10px;
}

/* CV */
.cvsubsection p{
  font-size: 1em;
}


/* Blog */
#excerpt{
  font-size: 1em;
}

#postdate{

  color: black;
  font-size: 1.5em;
}

.postname{
  color: blue;
  font-size: 1.5em;
}

.post ul {
    margin: 20px auto 40px;


}
